Repository entisys360/git-template, changes with the owners that docs/CODEOWNERS names for each.
All owners: @entisys360/approvers, @entisys360/powershell-owners, git-approvers@entisys360.com, @entisys360/documentation-owners, @doctocat

Many syntax, grammar, and content fixes to README
  README.md
Owners: @entisys360/approvers

Added default Entisys360 logo
  docs/logo.sample.png
Owners: @doctocat

Replace logo sample to clarify that it is a template option
  docs/logo.sample.png
Owners: @doctocat

Additional fixes in Markdown syntax and grammar
  README.md
Owners: @entisys360/approvers

Additional fixes in Markdown syntax and grammar
  README.md
Owners: @entisys360/approvers

Seperate README.md for this repo from README.sample.md for templating
  README.md
  README.sample.md
Owners: @entisys360/approvers

Add links and reference commands tp README
  README.md
Owners: @entisys360/approvers

Minor gramar fix
  README.md
  README.sample.md
Owners: @entisys360/approvers

Change wording in README
  README.md
Owners: @entisys360/approvers

Minor grammar fix
  README.sample.md
Owners: @entisys360/approvers

Add styleguide and images directory to docs
  README.md
  README.sample.md
  docs/images/logo.sample.png
  docs/styleguide.md
Owners: @entisys360/approvers, @doctocat

Remove duplicate logo file
  docs/logo.sample.png
Owners: @doctocat

Create .editorconfig
  docs/.editorconfig
Owners: @doctocat

Update .editorconfig
  docs/.editorconfig
Owners: @doctocat

Create README.md
  docs/README.md
Owners: @doctocat

Update README.md
  docs/README.md
Owners: @doctocat

Move editorconfig file
  .editorconfig
  .gitignore
Owners: @entisys360/approvers

Update README.md
  docs/README.md
Owners: @doctocat

Add link to markdown cheatsheet
  docs/README.md
Owners: @doctocat

Wording and syntax fixes
  docs/README.md
Owners: @doctocat

Add YAML, shell and Powershell defaults
  .editorconfig
Owners: @entisys360/approvers

Update .gitignore
  .gitignore
Owners: @entisys360/approvers

Add links to Github documentation
  README.md
Owners: @entisys360/approvers

Update README.md
  README.md
Owners: @entisys360/approvers

Formatting fix
  README.md
Owners: @entisys360/approvers

Add Terraform file exceptions
  .gitignore
Owners: @entisys360/approvers

Add Bob and update README
  docs/README.md
  docs/images/bob360.png
Owners: @doctocat

Update guidelines link in docs README
  docs/README.md
Owners: @doctocat

Add SSH config to docs
  docs/README.md
  docs/ssh_config
Owners: @doctocat

docs/CODEOWNERS:

# A CODEOWNERS file uses a pattern that follows the same rules 
# used in gitignore files.
# Each line is a file pattern followed by one or more owners.

# These users will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone opens 
# a pull request.
*       @entisys360/approvers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies Powershell files, only @powershell-owner and not the global
# owner(s) will be requested for a review.
*.ps1    @entisys360/powershell-owners

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.backup git-approvers@entisys360.com

# In this example, @entisys360/approvers own any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
/build/logs/ @entisys360/approvers

# The `docs/*` pattern will match files like
# `docs/SECURITY.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  @entisys360/documentation-owners

# In this example, @entisys360/approvers own any file in an apps directory
# anywhere in your repository.
apps/ @entisys360/approvers

# In this example, a user @doctocat owns any file in the `/docs`
# directory in the root of your repository.
/docs/ @doctocat
